/*  your css code here. If applicable */
body,ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
}

.nav{
	background-color:#6e072d;
	color:white;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:100%;
}

.nav ul{
	display:flex;
	align-items:center;
}

.nav  li {
	padding:0 27px;
		font-size:18px;
	border-right: 2px solid white;
	cursor:pointer;
}

.nav .first-list li:last-child
 {
    border-right: none;
}

.nav li:hover {
    background-color: #b90e4d;
    cursor: pointer;
}
